<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="com.uf.rest.service"></context:component-scan>
	<context:component-scan base-package="com.uf.rest.dao"></context:component-scan>
	<bean id="pushClient" class="com.uf.rest.util.PushClient">
		<property name="masterSecret" value="f8c0836928912a95756d534d"></property>
		<property name="appKey" value="b40d3fce9bcc57623e973d11"></property>
	</bean>

	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/cleaner?characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="mappingResources">
			<list>
				<value>com/uf/rest/entity/User.hbm.xml</value>
				<value>com/uf/rest/entity/ShopUser.hbm.xml</value>
				<value>com/uf/rest/entity/Shop.hbm.xml</value>
				<value>com/uf/rest/entity/Order.hbm.xml</value>
				<value>com/uf/rest/entity/OrderAddress.hbm.xml</value>
				<value>com/uf/rest/entity/OrderDetail.hbm.xml</value>
				<value>com/uf/rest/entity/Product.hbm.xml</value>
				<value>com/uf/rest/entity/ProductClass.hbm.xml</value>
				<value>com/uf/rest/entity/ShopProductPrice.hbm.xml</value>
				<value>com/uf/rest/entity/BankCard.hbm.xml</value>
				<value>com/uf/rest/entity/CustomComment.hbm.xml</value>
				<value>com/uf/rest/entity/ClientVersion.hbm.xml</value>
				<value>com/uf/rest/entity/OrderStateHistory.hbm.xml</value>
				<value>com/uf/rest/entity/ShopVisitRecord.hbm.xml</value>
				<value>com/uf/rest/entity/ShopWithDrawRecord.hbm.xml</value>
				<value>com/uf/rest/entity/ShopBankcard.hbm.xml</value>
			</list>
		</property>
		
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
				hibernate.show_sql=true
				javax.persistence.validation.mode=none
				hibernate.hbm2ddl.auto=update
			</value>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	<aop:config>
		<aop:pointcut expression="execution(* com.uf.rest.service.*.*(..))"
			id="txMethods" />
		
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txMethods" />
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>

</beans>
