.service_img {
	background: url("images/kefuzhongxin.png");
	background-position: left;
	background-repeat: no-repeat;
	height: 83px;
	marging-top: -10px;
	width: 100%;
}

.service-mod {
	overflow: hidden;
	margin-left: 15px;
	padding-top: 10px;
}